<h1>{{ title }}</h1>
<table>
  <tr>
    <td>Dname</td>
    <td>Money</td>
  </tr>
  {{#each debt}}
    <form method="post">
      <tr>
        <td>{{Dname}}</td>
        <td>{{Money}}</td>
        <td style="border: none; margin-left: 10px;"><!-- 버튼 위치와 스타일 조정-->
          <button 
            style="margin-left: 10px;"
            type="submit" 
            name="delBtn"
            value={{Money}} 
            formaction="/delete"><!-- /delete 페이지로 값을 넘겨줌-->
          삭제
          </button><!-- 버튼태그 사용-->
        </td>
      </tr>    
    </form>
  {{/each}}
</table>